nav {
    align-items: center;
    background-color: black;
    height: 80px;
    gap: 60px;
    display: flex;
    box-shadow: 2px 2px 2px 2px black;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.d img {
    width: 65px;
    top: 35px;
    right: 40px;
    height: 30px;
    background-color: rgb(87, 64, 129);
    position: absolute;
    right: 40px;
    border-radius: 5px;
    border: 1px solid blue;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d:hover {
    scale: 1.05;
    border: 1px solid rgb(87, 64, 129);
}

.tip1 {
    right: 400px;
    display: flex;
    position: absolute;
}

.tip2 {
    right: 280px;
    display: flex;
    position: absolute;
}

.tip3 {
    right: 150px;
    display: flex;
    position: absolute;
}

nav svg {
    gap: 30px;
    position: absolute;
    margin-left: -20px;
    color: white;
}

nav svg:hover {
    scale: 1.1;
    transition: 1s;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    scale: 1.1;
    transition: 1s;
}

nav h1 {
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    background-color: black;
    color: whitesmoke;
    list-style: none;
    gap: 40px;
}

.container {
    width: 1500px;
    height: 1600px;
    background-color: #98c5e9;
}

p {
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(38, 102, 167);
    font-size: 20px;
}

.d2 {
    width: 80px;
    height: 20px;
    position: absolute;
    left: 1155px;
    top: 40px;
    background-color: black;
    border-radius: 3px;
    transition: 0.3s;
}

.d2:hover {
    background-color: white;
    display: flex;
    width: 80px;
    height: 5px;
    top: 60px;
}

h1 {
    color: rgb(38, 102, 167);
    font-family: sans-serif;
    font-weight: 300;
    margin-left: 40px;
    font-size: 20px;
}

.purple2 {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}

.purple {
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.about-activity {
    color: rgb(38, 102, 167);
    font-family: sans-serif;
    background-color: #98c5e9;
    font-weight: 300;
    margin-top: 15px;
    left: 90px;
    position: absolute;
    font-size: 20px;
}

.about-activity svg {
    color: rgb(38, 102, 167);
}

.about-activity2 {
    position: absolute;
    color: rgb(38, 102, 167);
    background-color: #98c5e9;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 75px;
    left: 90px;
    font-size: 20px;
}

.about-activity2 svg {
    color: rgb(38, 102, 167);
}

.about-activity3 {
    position: absolute;
    display: flex;
    color: rgb(38, 102, 167);
    margin-top: 135px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: #98c5e9;
    margin-left: -1270px;
    font-size: 20px;
}

.about-activity3 svg {
    color: rgb(38, 102, 167);
}

p {
    margin-top: 90px;
}

img {
    width: 400px;
    height: 300px;
    top: 300px;
    right: 300px;
    position: absolute;
}

.project-heading1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    left: 90px;
}

h3 {
    position: absolute;
    left: 115px;
    top: 830px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: rgb(38, 102, 167);
}

.row1 {
    position: absolute;
    left: 140px;
    display: flex;
    top: 1000px;
    gap: 50px;
}

.box5 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-left: 30px;
    background-color: rgb(255, 249, 249);
    color: rgb(247, 66, 6);
    box-shadow: 1px 1px 1px 1px white;

}

.box5:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box6 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    background-color: rgb(255, 249, 249);
    color: blue;

}

.box6:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box7 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    background-color: rgb(255, 249, 249);
    color: blueviolet;
}

.box7:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box8 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    background-color: rgb(255, 249, 249);
    color: cyan;
}

.box8:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box9 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    background-color: rgb(255, 249, 249);
    color: yellow;
}

.box9:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box10 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: -890px;
    background-color: rgb(255, 249, 249);
    color: cyan;
}

.box10:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box11 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 249, 249);
    color: rgb(192, 184, 83);
}

.box11:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box12 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 249, 249);
    color: chartreuse;
}

.box12:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.project-heading {
    position: absolute;
    margin-top: 500px;
}

.purple3 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;
}

.row2 {
    position: absolute;
    left: 400px;
    display: flex;
    top: 1300px;
    gap: 50px;
}

.box13 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 249, 249);
    color: rgb(38, 102, 167);
}

.box13:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box14 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 249, 249);
    color: rgb(38, 102, 167);
}

.box14:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}

.box15 {
    width: 170px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: rgb(255, 249, 249);
    color: dodgerblue;
}

.box15:hover {
    scale: 1.1;
    transition: 1s;
    background-color: white;
}